.services{
    background:#07111F;
    padding:110px 8%;
    color:#fff;
}

.services-title{
    text-align:center;
    margin-bottom:70px;
}

.services-title span{
    color:#3B82F6;
    font-size:15px;
    font-weight:600;
    letter-spacing:2px;
}

.services-title h2{
    font-size:48px;
    margin:20px 0;
    font-weight:700;
    text-shadow:0 0 20px rgba(37,99,235,.18);
}

.services-title p{
    max-width:700px;
    margin:auto;
    color:#B8C4D6;
    font-size:18px;
    line-height:1.8;
}

.services-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.service-card{
    background:#101A2C;
    border:1px solid rgba(255,255,255,.06);
    border-radius:24px;
    padding:40px 30px;
    transition:.4s ease;
    cursor:pointer;
}

.service-card:hover{
    transform:translateY(-12px);
    border-color:#2563EB;
    box-shadow:
        0 20px 45px rgba(37,99,235,.18),
        0 0 20px rgba(37,99,235,.12);
}

.service-card svg{
    font-size:50px;
    color:#3B82F6;
    margin-bottom:25px;
}

.service-card h3{
    font-size:24px;
    margin-bottom:15px;
}

.service-card p{
    color:#B8C4D6;
    line-height:1.8;
}

@media(max-width:992px){

.services-grid{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.services{
    padding:90px 20px;
}

.services-title h2{
    font-size:36px;
}

.services-grid{
    grid-template-columns:1fr;
}

.service-tag{
    color:#3B82F6;
    font-size:13px;
    letter-spacing:2px;
    text-transform:uppercase;
    margin-bottom:18px;
}

}