*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Inter,sans-serif;
}

.navbar{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;
    transition:.35s;
    padding:18px 8%;
    backdrop-filter:blur(18px);
    background:rgba(3,7,18,.75);
    border-bottom:1px solid rgba(255,255,255,.05);
}

.navbar.scrolled{
    background:#061426;
    box-shadow:0 5px 25px rgba(0,0,0,.15);
    padding:12px 0;
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo img{
    width:52px;
}

.logo-text h2{
    color:#fff;
    font-size:30px;
    font-weight:700;
}

.logo-text span{
    color:#3B82F6;
    letter-spacing:3px;
    font-size:13px;
    text-transform:uppercase;
}

.nav-links{
    display:flex;
    list-style:none;
    gap: 42px;
    align-items:center;
}

.nav-links a{
    color:#fff;
    text-decoration:none;
    font-size:16px;
    transition:.3s;
}

.nav-links a:hover{
    color:#3B82F6;
}

.quote-btn{
    background:#2563EB;
    color:#fff;
    text-decoration:none;
    padding:13px 26px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;
}

.quote-btn:hover{
    background:#1D4ED8;
}

.mobile{
    display:none;
}

.menu-icon{
    display:none;
    color:#fff;
    font-size:28px;
    cursor:pointer;
}

@media(max-width:900px){

.nav-links{
position:fixed;
right:-100%;
top:0;
height:100vh;
width:280px;
background:#061426;
display:flex;
flex-direction:column;
justify-content:center;
gap:35px;
transition:.4s;
}

.nav-links.active{
right:0;
}

.desktop{
display:none;
}

.mobile{
display:inline-block;
}

.menu-icon{
display:block;
}

.logo-text h2{
font-size:25px;
}

}